body {
    font-family: Arial, sans-serif;
    margin: 20;

    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #2c3e50;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #27ae60;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 2rem;
}


button {
    padding: 8px 16px;
    margin: 0px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.button_success {
    background-color: #27ae60;
    color: white;
    text-align: center;
}

.button_cancel {
    background-color: #e74c3c;
    color: white;
    text-align: center;
}

.button_edit {
    background-color: #f39c12;
    color: white;
}

.button_delete {
    background-color: #c0392b;
    color: white;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #27ae60;
}

.error-messages {
    color: #e74c3c;
    margin-bottom: 20px;
}

.error-messages ul {
    list-style-type: none;
    padding: 0;
}

.error-messages li {
    margin-bottom: 5px;
}


.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}